# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore metadata inside notebooks
*.ipynb

# Ignore virtual environment directories
venv_*
venv/